[Desktop Entry]
Name=Syncretism

X-KDE-PluginInfo-Name=Syncretism
X-KDE-PluginInfo-Author=Syncretic Linux
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
